<form action="/login" method="post">

   <input type="email" name="loginEmail" id="">
   <input type="password" name="loginPassword" id="">
   <button type="submit">Login</button>
   <h2>Don't have an account?<a href="/signup">Sign up</a> </h2> 
   
</form>