

<div>
    <% products.forEach( product=> { %>
  
          <li> <%= product %></li>

          
       
  <%  }) %>
  

</div>

<div>
   <%var counter = 1 %>
      <% for(var i= product_per_page; i< countProduct; i+=product_per_page) { %>
        
          <a href="/products/?page=<%=counter%>"><%=counter%></a>
         <%
          counter++;
           %>

        <%  } %>



</div>
