<li>
    <% user.wishlist.forEach( (product)=>{ %>


    <!-- <li> product id objektet:  <%=product.productId %></li> -->
<li> <%= product.productId.name%>
    <span> Price: <%=product.productId.price %> </span>

</li>

<a href="/deleteWishlist/<%=product.productId._id%>">Remove wishlist</a>

<% } ) %>


</li>

<a href="/order">Checka ut</a>



<h1>
order router -> renderar vi checkout.ejs  -> stripe hemsida (där användare ska mata infor)
-> nästa router  (kan vara succee eller avbryt).
</h1>
