<li>
    <% user.wishlist.forEach( (product)=>{ %>


    <!-- <li> product id objektet:  <%=product.productId %></li> -->
<li> <%= product.productId.name%>
    <span> Price: <%=product.productId.price %> </span>

</li>

<a href="/deleteWishlist/<%=product.productId._id%>">Remove wishlist</a>

<% } ) %>
</li>